<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="flex container">
      <div>
        <h1>Welcome to <span>RAHMA ALAWI's</span> Portfolio</h1>
        <h2>Check out my projects below</h2>
      </div>
      <div>
        <img
          src="https://media.licdn.com/dms/image/D4E03AQGFz9Vv89co9w/profile-displayphoto-shrink_200_200/0/1669744064060?e=1727308800&v=beta&t=XeaYYneYdoGN5yV7kgdi34kqu9Y4DZ5__SJoxKaXhss"
          alt="Rahma's Mugshot"
        />
      </div>
    </section>
  </body>
</html>
