<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rahma Alawitz - Portfolio</title>
  </head>
  <body>
    <header class="primary-color">
      <h1>Rahma Alawitz</h1>
      <p>Software Developer | Project Manager | Tech Enthusiast| QA Tester</p>
      <button>Like</button>
      <!--we can put a mechanism to count how many people interacted
      with my portfolio and actually liked it -->
    </header>

    <div class="container">
      <section class="profile-info">
        <img src="assets/images/OFFICIAL.jpg" alt="Rahma's Profile Picture" />
        <div>
          <h2>Hello, I'm Rahma!</h2>
          <p>
            I am a passionate software developer and project manager with 1.5 years of
            experience in software development, IT support, and product management.
            Currently working at Medikea, I lead a tech team, managing projects that
            deliver impactful medical solutions. I enjoy learning new technologies and
            have a keen interest in QA testing.
          </p>
        </div>
      </section>

      <section>
        <h3>Skills & Expertise</h3>
        <ul>
          <li>Frontend Development (HTML, CSS, JavaScript, Angular)</li>
          <li>Project Management and Team Leadership</li>
          <li>API Integration and Backend Development</li>
          <li>Quality Assurance and Testing</li>
          <li>Community Engagement and Volunteering</li>
        </ul>
      </section>

      <section>
        <h3>Work Experience</h3>
        <ul>
          <li>
            <strong>Front-End Developer & Project Manager</strong> - Medikea
            (2023-Present)
          </li>
          <li><strong>Volunteer</strong> - Community Engagement Projects</li>
        </ul>
      </section>

      <section>
        <h3>Education</h3>

        <ul>
          <li>
            <strong>Bachelor of Computer Engineering</strong> - Dar es Salaam Institute of
            Technology (2023)
          </li>
        </ul>
      </section>
    </div>

    <h1 className="text-3xl font-bold underline">Hello world!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque rerum magni
      ipsam modi sint. Numquam, nemo nesciunt, alias laboriosam maxime veniam, deleniti
      minima beatae facere in amet quam natus!
    </p>

    <footer>
      <p>&copy; 2024 with ❤️ by Rahma Alawi Hussein | Not All Rights Are Reserved</p>
    </footer>
  </body>
</html>
